/*@import url('https://fonts.googleapis.com/css?family=Lato');*/

html {
	height: 100%;
}

body {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
}

h1 {
    padding-top: 100px;
    font-family: 'Lato', sans-serif;
    
}

@keyframes background {
  0% {
    background-position: 50% 0%
  }
  50% {
    background-position: 50% 100%
  }
  100%{
    background-position: 50% 0%
  }
}

html {
  height: 100%;
}
body {
  height: 100%;
  background: linear-gradient(0deg, #ffffff, #eff0ff);
  background-size: 100% 100%;
  /*animation: background 10s linear infinite;*/
}

#c-research {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;

    display: block;
    width: 100%;
    height: 100%;
}

.container-fluid {
    padding: 0px;
	position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}

i {
    font-size: 35px;
    padding-left: 30px;
    padding-top: 5px;
    padding-right: 50px;
}

i:hover {
    color:#62c1a9;
}

.contact {
    font-size: 60px;
    padding-left: 30px;
    padding-top: 5px;
    padding-right: 50px;
}
