html {
	height: 100%;
}

body {
	background-image: url("test.jpg");
	/*background-color: #bb1717;*/
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height: 100%;
    width: 100%;
}

/*body {
	color: #ccc;
	font-family: Helvetica Neue, Verdana, sans-serif;
	font-size: 20px;
}*/


/*canvas, section {
	display: block;
}*/

#c {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;

    display: block;
    width: 100%;
    height: 100%;
}

/*body {
	width=100%;
	height=100%;
}*/

.container-fluid {
    padding: 0px;
	position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}

/*#attribution {
	bottom: 40px;
	position: absolute;
	right: 40px;
}
*/
/*#WrapAll {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    overflow:hidden;
}*/

.glyphicon {
    font-size: 40px;
    padding-left: 10px;
    padding-top: 5px;
}
